name: CI
on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
          submodules: "recursive"

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.75.1"

      - name: Build
        run: |
          hugo

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: master
          folder: public
          clean: true
          token: ${{ secrets.GH_TOKEN }}
          git-config-email: skku-bot@skkuoverflow.com
          repository-name: SKKU-SWForum/skku-swforum.github.io
          commit-message: "Update"
          # single-commit: true
